body {
    overflow-y: scroll;
    margin: 0;
    padding: 0;
    font-size: 0;
    line-height: 0;
}
td {
    overflow: hidden;
    padding: 5px;
    text-overflow: ellipsis;
    border: 1px solid black;
    font-family: Tahoma;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
}
thead td {
    text-align: center;
}

.content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    width: 960px;
    margin: 0 auto;
    padding: 0;
}
.buttons {
    display: flex;
    align-items: center;
    align-self: flex-end;
    flex-direction: row;
    justify-content: center;
    margin: 8px 0;
}

.filter-btn {
    margin-right: 8px;
    padding: 8px 20px;
    border: 1px solid black;
    border-radius: 4px;
    background-color: whitesmoke;
    font-family: Tahoma;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
}
.filter-btn:hover {
    background-color: wheat;
}

.add-btn {
    margin-right: 8px;
    padding: 8px 20px;
    border: 1px solid black;
    border-radius: 4px;
    background-color: whitesmoke;
    font-family: Tahoma;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
}

.filter-btn:hover,
.add-btn:hover {
    cursor: pointer;
    background-color: wheat;
}

.filter-btn:focus,
.filter-btn:active,
.add-btn:focus,
.add-btn:active {
    outline: none;
}

.table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
}

.thead {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
}

.head-order {
    width: 20px;
}

.head-date {
    width: 120px;
}

.head-name {
    width: 100px;
}

.head-phone {
    width: 130px;
}

.head-actions {
    width: 175px;
}

.tbody {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
}

.add-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: darkgrey;
}

.filter-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: darkgrey;
}

.edit-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: darkgrey;
}

.row-data {
    height: 50px;
}

.edit:hover,
.delete:hover {
    cursor: pointer;
    text-decoration: underline;
}

/* edit */
.input-edit-date {
    position: absolute;
    top: 110px;
    left: 28%;
    width: 400px;
    padding: 8px;
    border: 1px solid black;
    font-family: Tahoma;
    font-size: 20px;
    font-weight: 400;
}
.input-edit-name {
    position: absolute;
    top: 190px;
    left: 28%;
    width: 400px;
    padding: 8px;
    border: 1px solid black;
    font-family: Tahoma;
    font-size: 20px;
    font-weight: 400;
}
.textarea-edit-text {
    position: absolute;
    top: 270px;
    left: 28%;
    width: 400px;
    padding: 8px;
    resize: none;
    border: 1px solid black;
    font-family: Tahoma;
    font-size: 20px;
    font-weight: 400;
}
.input-edit-phone {
    position: absolute;
    top: 370px;
    left: 28%;
    width: 400px;
    padding: 8px;
    border: 1px solid black;
    font-family: Tahoma;
    font-size: 20px;
    font-weight: 400;
}
.btn-edit-save {
    position: absolute;
    top: 440px;
    left: 35%;
    width: 150px;
    height: 40px;
    padding: 8px;
    cursor: pointer;
    border: 1px solid black;
    background-color: darkgray;
    font-family: Tahoma;
    font-size: 20px;
    font-weight: 400;
}
.btn-edit-cancel {
    position: absolute;
    top: 440px;
    left: 50%;
    width: 150px;
    height: 40px;
    padding: 8px;
    cursor: pointer;
    border: 1px solid black;
    background-color: whitesmoke;
    font-family: Tahoma;
    font-size: 20px;
    font-weight: 400;
}
.btn-edit-close {
    position: absolute;
    top: 94px;
    left: 65%;
    width: 40px;
    height: 40px;
    padding: 8px;
    cursor: pointer;
    border: 1px solid black;
    background-color: whitesmoke;
    font-family: Tahoma;
    font-size: 20px;
    font-weight: 400;
}
.text-edit-date {
    position: absolute;
    top: 100px;
    left: 30%;
    font-family: Tahoma;
    font-size: 20px;
    font-weight: 400;
}
.text-edit-name {
    position: absolute;
    top: 180px;
    left: 30%;
    font-family: Tahoma;
    font-size: 20px;
    font-weight: 400;
}
.text-edit-text {
    position: absolute;
    top: 260px;
    left: 30%;
    font-family: Tahoma;
    font-size: 20px;
    font-weight: 400;
}
.text-edit-phone {
    position: absolute;
    top: 360px;
    left: 30%;
    font-family: Tahoma;
    font-size: 20px;
    font-weight: 400;
}


/* new Record */
.text-new-title {
    position: absolute;
    top: 150px;
    left: 30%;
    font-family: Tahoma;
    font-size: 24px;
    font-weight: 600;
}
.text-new-name {
    position: absolute;
    top: 180px;
    left: 30%;
    font-family: Tahoma;
    font-size: 20px;
    font-weight: 400;
}
.text-new-text {
    position: absolute;
    top: 260px;
    left: 30%;
    font-family: Tahoma;
    font-size: 20px;
    font-weight: 400;
}
.text-new-phone {
    position: absolute;
    top: 360px;
    left: 30%;
    font-family: Tahoma;
    font-size: 20px;
    font-weight: 400;
}
.input-new-name {
    position: absolute;
    top: 190px;
    left: 28%;
    width: 400px;
    padding: 8px;
    border: 1px solid black;
    font-family: Tahoma;
    font-size: 20px;
    font-weight: 400;
}
.textarea-new-text {
    position: absolute;
    top: 270px;
    left: 28%;
    width: 400px;
    padding: 8px;
    resize: none;
    border: 1px solid black;
    font-family: Tahoma;
    font-size: 20px;
    font-weight: 400;
}
.input-new-phone {
    position: absolute;
    top: 370px;
    left: 28%;
    width: 400px;
    padding: 8px;
    border: 1px solid black;
    font-family: Tahoma;
    font-size: 20px;
    font-weight: 400;
}
.btn-new-save {
    position: absolute;
    top: 440px;
    left: 35%;
    width: 150px;
    height: 40px;
    padding: 8px;
    cursor: pointer;
    border: 1px solid black;
    background-color: darkgray;
    font-family: Tahoma;
    font-size: 20px;
    font-weight: 400;
}
.btn-new-cancel {
    position: absolute;
    top: 440px;
    left: 50%;
    width: 150px;
    height: 40px;
    padding: 8px;
    cursor: pointer;
    border: 1px solid black;
    background-color: whitesmoke;
    font-family: Tahoma;
    font-size: 20px;
    font-weight: 400;
}
.btn-new-close {
    position: absolute;
    top: 94px;
    left: 65%;
    width: 40px;
    height: 40px;
    padding: 8px;
    cursor: pointer;
    border: 1px solid black;
    background-color: whitesmoke;
    font-family: Tahoma;
    font-size: 20px;
    font-weight: 400;
}


/* filter */
.text-filter-title {
    position: absolute;
    top: 150px;
    left: 30%;
    font-family: Tahoma;
    font-size: 24px;
    font-weight: 600;
}
.text-filter-phone {
    position: absolute;
    top: 360px;
    left: 30%;
    font-family: Tahoma;
    font-size: 20px;
    font-weight: 400;
}
.text-filter-date {
    position: absolute;
    top: 240px;
    left: 30%;
    font-family: Tahoma;
    font-size: 20px;
    font-weight: 400;
}
.text-filter-date-from {
    position: absolute;
    top: 270px;
    left: 25%;
    font-family: Tahoma;
    font-size: 20px;
    font-weight: 400;
}
.text-filter-date-to {
    position: absolute;
    top: 320px;
    left: 25%;
    font-family: Tahoma;
    font-size: 20px;
    font-weight: 400;
}
.input-filter-date-min {
    position: absolute;
    top: 250px;
    left: 28%;
    width: 400px;
    padding: 8px;
    border: 1px solid black;
    font-family: Tahoma;
    font-size: 20px;
    font-weight: 400;
}
.input-filter-date-max {
    position: absolute;
    top: 300px;
    left: 28%;
    width: 400px;
    padding: 8px;
    border: 1px solid black;
    font-family: Tahoma;
    font-size: 20px;
    font-weight: 400;
}
.input-filter-phone {
    position: absolute;
    top: 370px;
    left: 28%;
    width: 400px;
    padding: 8px;
    border: 1px solid black;
    font-family: Tahoma;
    font-size: 20px;
    font-weight: 400;
}
.btn-filter-find {
    position: absolute;
    top: 440px;
    left: 35%;
    width: 150px;
    height: 40px;
    padding: 8px;
    cursor: pointer;
    border: 1px solid black;
    background-color: darkgray;
    font-family: Tahoma;
    font-size: 20px;
    font-weight: 400;
}
.btn-filter-drop {
    position: absolute;
    top: 440px;
    left: 50%;
    width: 150px;
    height: 40px;
    padding: 8px;
    cursor: pointer;
    border: 1px solid black;
    background-color: whitesmoke;
    font-family: Tahoma;
    font-size: 20px;
    font-weight: 400;
}
.btn-filter-close {
    position: absolute;
    top: 94px;
    left: 65%;
    width: 40px;
    height: 40px;
    padding: 8px;
    cursor: pointer;
    border: 1px solid black;
    background-color: whitesmoke;
    font-family: Tahoma;
    font-size: 20px;
    font-weight: 400;
}

.btn-new-save:hover,
.btn-edit-save:hover,
.btn-filter-find:hover {
    color: whitesmoke;
    background-color: black;
}
.btn-new-save[disabled],
.btn-edit-save[disabled],
.btn-filter-find[disabled] {
    cursor: not-allowed;
    opacity: .5;
}

.btn-new-cancel:hover,
.btn-new-close:hover,
.btn-edit-cancel:hover,
.btn-edit-close:hover,
.btn-filter-drop:hover,
.btn-filter-close:hover {
    background-color: wheat;
}

.input-edit-date:focus,
.input-edit-date:active,
.input-edit-name:focus,
.input-edit-name:active,
.textarea-edit-text:focus,
.textarea-edit-text:active,
.input-edit-phone:focus,
.input-edit-phone:active,
.btn-edit-save:focus,
.btn-edit-save:active,
.btn-edit-cancel:focus,
.btn-edit-cancel:active,
.btn-edit-close:focus,
.btn-edit-close:active,
.input-new-name:focus,
.input-new-name:active,
.textarea-new-text:focus,
.textarea-new-text:active,
.input-new-phone:focus,
.input-new-phone:active,
.btn-new-save:focus,
.btn-new-save:active,
.btn-new-cancel:focus,
.btn-new-cancel:active,
.btn-new-close:focus,
.btn-new-close:active,
.input-filter-date-min:focus,
.input-filter-date-min:active,
.input-filter-date-max:focus,
.input-filter-date-max:active,
.input-filter-phone:focus,
.input-filter-phone:active,
.btn-filter-find:focus,
.btn-filter-find:active,
.btn-filter-drop:focus,
.btn-filter-drop:active,
.btn-filter-close:focus,
.btn-filter-close:active {
    outline: none;
}
